{% extends 'base.html' %}
{% block title %} edit {% endblock %}
{% block content %}
   <h1>Edit page of {{new_url}}</h1>

<p>Original link : {{original_url}}</p>

<p>New link :  {{new_url}}</p>
   <p>Number of visits : {{click}}</p>
   <form action="/delete/{{id}}" method="post">
    <input type="hidden" name="_method"  value = "DELETE">
    <input type="submit" class="btn btn-danger" value="Delete"></form>

<!-- Graphs -->
<script type="text/javascript">
window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer",
    {
      title:{
        text: "Simple Date-Time Chart"
    },
    axisX:{
        title: "timeline",
        gridThickness: 2
    },
    axisY: {
        title: "Downloads"
    },
    data: [
    {        
        type: "area",
        dataPoints: [//array
        { x: new Date(2012, 01, 1), y: 26},
        { x: new Date(2012, 01, 3), y: 38},
        { x: new Date(2012, 01, 5), y: 43},
        { x: new Date(2012, 01, 7), y: 29}

        ]
    }
    ]
});

    chart.render();
}
</script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>


<div id="chartContainer" style="height: 300px; width: 100%;">
</div>

{% endblock %}