{% extends 'base.html' %}
{% block title %} Edit {% endblock %}
{% block content %}
<h1>Details of {{new_url}}</h1>

<p>Original link : {{original_url}}</p>

<p>New link : {{new_url}}</p>
<p>Number of visits : {{click}}</p>
<form action="/delete/{{id}}" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" class="btn btn-danger" value="Delete">
</form>

<!-- Graphs -->
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<div id="date" style="width: 45%; height: 300px;display: inline-block;"></div> 
<div id="country" style="width: 45%; height: 300px;display: inline-block;"></div><br><br>
<div id="os" style="width: 45%; height: 300px;display: inline-block;"></div>
<div id="browser" style="width: 45%; height: 300px;display: inline-block;"></div>
 <script type="text/javascript">

    var dateArrays = {{ data | tojson}};
    var date1 = [];
    var date2 = [];
    var i1;
    for (i1 = 0; i1 < dateArrays.length; i1++) {
        date1.push(dateArrays[i1][0])
        date2.push(dateArrays[i1][1])
    }
    var dps1 = []
    for (var i1 = 0; i1 < date2.length; i1++) {
        dps1.push({ x: new Date(date1[i1]), y: date2[i1]+1 });
    }
    console.log(dps1)
    var chart = new CanvasJS.Chart("date",
    {
        animationEnabled: true,
        title: {
            text: "Date Time"
        },
        axisX: {
            interval: 10,
        },
        data: [
        {
            type: "splineArea",
            legendMarkerType: "triangle",
            legendMarkerColor: "green",
            showInLegend: true,
            legendText:"Date wise visits",
            color: "rgba(255,12,32,.3)",
            dataPoints: dps1
        },
        ]
    });
chart.render();

    var cty = {{ data2 | tojson}};
    console.log('-----',cty)
    var cty1= [];
    var cty2 = [];
    var i;
    for (i = 0; i < cty.length; i++) {
        cty1.push(cty[i][0])
        cty2.push(cty[i][1])
    }
    console.log(cty1,cty2)
    var dps2 = []
    for (var i = 0; i < cty2.length; i++) {
        dps2.push({x:(i+1)*10, y: cty2[i], label: cty1[i] });
    }
    console.log('DPS',dps2)
    var chart = new CanvasJS.Chart("country",
    {
        animationEnabled: true,
        title: {
            text: "Country "
        },
        axisX: {
            interval: 10,
        },
        data: [
        {
            type: "column",
            legendMarkerType: "triangle",
            legendMarkerColor: "green",
            color: "rgba(255,12,32,.3)",
            showInLegend: true,
            legendText:"Country wise visits",
            dataPoints:dps2
        },
        ]
    });
chart.render();
    
    var arrayOfArrays = {{ data3 | tojson}};
    var array = [];
    var array2 = [];
    var i;
    for (i = 0; i < arrayOfArrays.length; i++) {
        array.push(arrayOfArrays[i][0])
        array2.push(arrayOfArrays[i][1])
    }
    var dps3 = []
    for (var i = 0; i <= array2.length - 1; i++) {
        dps3.push({x:(i+1)*10, y: array2[i], label: array[i] });
    }
    console.log(dps3)
    var chart = new CanvasJS.Chart("os",
    {
        animationEnabled: true,
        title: {
            text: "Operating System"
        },
        axisX: {
            interval: 10,
        },
        data: [
        {
            type: "column",
            legendMarkerType: "triangle",
            legendMarkerColor: "green",
            color: "rgba(255,12,32,.3)",
            showInLegend: true,
            legendText:"OS wise visits",
            dataPoints:dps3
        },
        ]
    });
chart.render();

    var arrayOfArrays = {{ data4 | tojson}};
    var array = [];
    var array2 = [];
    var i;
    for (i = 0; i < arrayOfArrays.length; i++) {
        array.push(arrayOfArrays[i][0])
        array2.push(arrayOfArrays[i][1])
    }
    var dps4 = []
    for (var i = 0; i < array2.length; i++) {
        dps4.push({ x:(i+1)*10,y: array2[i], label: array[i] });
    }
    console.log(dps4)
    var chart = new CanvasJS.Chart("browser",
    {
        animationEnabled: true,
        title: {
            text: "Browser"
        },
        axisX: {
            interval: 10,
        },
        data: [
        {
            type: "column",
            legendMarkerType: "triangle",
            legendMarkerColor: "green",
            color: "rgba(255,12,32,.3)",
            showInLegend: true,
            legendText: "Browser wise visits",
            dataPoints: dps4
        },
        ]
    });
chart.render(); 

</script> 


<!--  <script>
    var chart = new CanvasJS.Chart("date",
    {
        animationEnabled: true,
        title: {
            text: "Spline Area Chart"
        },
        axisX: {
            interval: 10,
        },
        data: [
        {
            type: "splineArea",
            color: "rgba(255,12,32,.3)",
            dataPoints: [
                { x: new Date(1992, 0), y: 2506000 },
                { x: new Date(1993, 0), y: 2798000 },
                { x: new Date(1994, 0), y: 3386000 },
                { x: new Date(1995, 0), y: 6944000 },
                { x: new Date(1996, 0), y: 6026000 },
                { x: new Date(1997, 0), y: 2394000 },
                { x: new Date(1998, 0), y: 1872000 },
                { x: new Date(1999, 0), y: 2140000 },
                { x: new Date(2000, 0), y: 7289000 },
                { x: new Date(2001, 0), y: 4830000 },
                { x: new Date(2002, 0), y: 2009000 },
                { x: new Date(2003, 0), y: 2840000 },
                { x: new Date(2004, 0), y: 2396000 },
                { x: new Date(2005, 0), y: 1613000 },
                { x: new Date(2006, 0), y: 2821000 }
            ]
        },
        ]
    });
chart.render();

var chart = new CanvasJS.Chart("country",
    {
        animationEnabled: true,
        title: {
            text: "Column Chart"
        },
        axisX: {
            interval: 10,
        },
        data: [
        {
            type: "column",
            legendMarkerType: "triangle",
            legendMarkerColor: "green",
            color: "rgba(255,12,32,.3)",
            showInLegend: true,
            legendText: "Country wise population",
            dataPoints: [
                { x: 10, y: 297571, label: "8888888" },
                { x: 20, y: 267017, label: "Saudi" },
                { x: 30, y: 175200, label: "Canada" },
                { x: 40, y: 154580, label: "Iran" },
                { x: 50, y: 116000, label: "Russia" },
                { x: 60, y: 97800, label: "UAE" },
                { x: 70, y: 20682, label: "US" },
                { x: 80, y: 20350, label: "China" }
            ]
        },
        ]
    });

chart.render();
var chart = new CanvasJS.Chart("os",
    {
        animationEnabled: true,
        title: {
            text: "Column Chart"
        },
        axisX: {
            interval: 10,
        },
        data: [
        {
            type: "column",
            legendMarkerType: "triangle",
            legendMarkerColor: "green",
            color: "rgba(255,12,32,.3)",
            showInLegend: true,
            legendText: "Country wise population",
            dataPoints: [
                { x: 10, y: 297571, label: "kkkkk" },
                { x: 20, y: 267017, label: "Saudi" },
                { x: 30, y: 175200, label: "Canada" },
                { x: 40, y: 154580, label: "Iran" },
                { x: 50, y: 116000, label: "Russia" },
                { x: 60, y: 97800, label: "UAE" },
                { x: 70, y: 20682, label: "US" },
                { x: 80, y: 20350, label: "China" }
            ]
        },
        ]
    });
chart.render();


var chart = new CanvasJS.Chart("browser",
    {
        animationEnabled: true,
        title: {
            text: "Column Chart"
        },
        axisX: {
            interval: 10,
        },
        data: [
        {
            type: "column",
            legendMarkerType: "triangle",
            legendMarkerColor: "green",
            color: "rgba(255,12,32,.3)",
            showInLegend: true,
            legendText: "Country wise population",
            dataPoints: [
                { x: 10, y: 297571, label: "kkkkk" },
                { x: 20, y: 267017, label: "Saudi" },
                { x: 30, y: 175200, label: "Canada" },
                { x: 40, y: 154580, label: "Iran" },
                { x: 50, y: 116000, label: "Russia" },
                { x: 60, y: 97800, label: "UAE" },
                { x: 70, y: 20682, label: "US" },
                { x: 80, y: 20350, label: "China" }
            ]
        },
        ]
    });
chart.render();

</script>  -->
{% endblock %}