{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}

{% if messages %}
    <div class="alert alert-danger" role="alert">
        {{messages[0]}}
    </div>
{% endif %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<h1>login</h1>
{% if name %}
  <p>Account name: {{name}}</p>
<form action="/logout" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" class="btn btn-danger" value="Logout">
</form><hr>
<form action="/del_acc/{{name}}" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" class="btn btn-danger" value="Delete Account">
</form>
{% else %}
<form action="/login" method="POST" class="container br-3">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" name="name" placeholder="Abc">
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div><br>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>  <br> 
  <div class="card-footer">
    <div class="d-flex justify-content-center links">
        Don't have an account ? &ensp; <a href="/signup">Sign Up</a>
    </div>
    <div class="d-flex justify-content-center">
        <a   onclick="passwd()"  >Forgot your password?</a>
    </div>
</div>
<p id="demo"></p>
<script>

function passwd(){
  {
        var data1='krupal'
        $.ajax({
        type : 'POST',
        url : '/pswd',
        contentType: 'application/json;charset=UTF-8',
        data : {'data':data1}
      });
    }
  }


</script>

{% endif %}
{% endblock %}